@model Contagion.MVC.Models.UserModel;

<head>
  <style>
    input[type=number], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      text-align: right;
    }

    #bodydiv {
      width: 35%;
      border-radius: 5px;
      background-color: #f2f2f2;
      margin-top: 20px;
      padding: 20px;
      display: block;
      float: right;
    }

    #mapimg {
      width: 45%;
      border-radius: 5px;
      padding: 20px;
      display: block;
      float: left;
    }
  </style>
</head>
<div id="mapimg">
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=32.7226,-97.0785&zoom=12&size=640x640&maptype=roadmap&markers=color:red%7Clabel:C%7C32.73,-97.10&markers=color:red%7Clabel:C%7C32.73,-97.13&markers=color:red%7Clabel:C%7C32.76,-97.11&markers=color:red%7Clabel:C%7C32.71,-97.08&markers=color:red%7Clabel:C%7C32.72,-97.30&markers=color:red%7Clabel:C%7C32.74,-97.08&markers=color:red%7Clabel:C%7C32.73,-97.12&markers=color:red%7Clabel:C%7C32.72,-97.14&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:red%7Clabel:C%7C32.7226,-97.0785&markers=color:blue%7Clabel:H%7C32.7226,-97.0785&key=AIzaSyCd8-6YXmDwESXdgRmwWLrbiNFLwLdKYIc">
</div>

<div id="bodydiv">
  <form class="form-group" action="/home/users" method="post">
    @try
    {
      <div class="form-group">
        <label>Phone Number
          <input type="number" asp-for="@Model.UserPhone" placeholder="1234567890">
        </label>
      </div>

      <button class="btn btn-primary" type="button" id="find-me">Find my location</button>

      <br>
      <br>

      <div class="form-group">
        <label>Latitude:
          <input id="lat" type="number" asp-for="@Model.Lat" placeholder="" readonly>
        </label>
      </div>

      <div class="form-group">
        <label>Longitude:
          <input id="lng" type="number" asp-for="@Model.Lon" placeholder="" readonly>
        </label>
      </div>
    }
    catch(Exception) {}
    finally
    {
      <label>By submitting, you agree to give out your current location.
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
      </label>
    }  
  </form>
</div>

<script>
  function geoFindMe() {
    //const status = document.querySelector('#status');
    const lat = document.querySelector('#lat');
    const lng = document.querySelector('#lng');

    function success(position) {
      const latitude  = position.coords.latitude;
      const longitude = position.coords.longitude;
      
      lat.value = latitude;
      lng.value = longitude;
      //status.innerHTML = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
    }

    function error() {
      status.textContent = 'Unable to retrieve your location';
    }

    if (!navigator.geolocation) {
      status.textContent = 'Geolocation is not supported by your browser';
    } else {
      status.textContent = 'Locating…';
      navigator.geolocation.getCurrentPosition(success, error);
    }
  }

  document.querySelector('#find-me').addEventListener('click', geoFindMe);
</script>