@{
    ViewData["Title"] = "Home Page";
}

<head>
  <style>
    #mapimg {
      border-radius: 5px;
      padding: 20px;
      display: block;
      margin: auto;
    }
    #pagetitle {
      text-align: center;
      margin-bottom: 20px;
    }
  </style>
</head>

@model List<UserModel>;

@{var url = "https://maps.googleapis.com/maps/api/staticmap?";}

@{var markers = "";}

@{var count = Model.Count;}
@{var center = "center=" + Model[count-1].Lat + ',' + Model[count-1].Lon + "&";}
@{var zoom = "zoom=12&size=800x600&maptype=roadmap&";}
@{var key = "key=AIzaSyCd8-6YXmDwESXdgRmwWLrbiNFLwLdKYIc";}


@for (int i = 0; i < Model.Count - 1; i++)
{
  String status = Model[i].HealthStatus;
  var color = "";
  if (status == "Positive")
  {
    color = "color:red%7Clabel:P%7C";
  } else if (status == "Negative")
  {
    color = "color:blue%7Clabel:N%7C";
  }
  var latlong = Model[i].Lat + "," + Model[i].Lon + "&";
  markers += "markers=" + color + latlong;
}
@{var colorHome = "color:yellow%7Clabel:H%7C";}
@{var latlongHome = Model[count-1].Lat+ "," + Model[count-1].Lon + "&";}
@{markers += "markers=" + colorHome + latlongHome;}

@{var request = url + center + zoom + markers + key;}

<h3 id="pagetitle">Cotagion Map Demo</h3>

<img id="mapimg" src="@request">
